*, *:before, *:after {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

header {
  background: url(images/bg_photo_1.jpg);
  float: left;
  width: 100%;
  background-size: cover;
  height: 712px;
  opacity: 1;
  position: relative;
  margin-bottom: 50px; }
  header .top-header {
    float: left;
    width: 100%;
    padding-top: 15px; }
    header .top-header .company-contact {
      text-align: right;
      padding-right: 41px; }
      header .top-header .company-contact ul li {
        color: #fff;
        list-style-type: none;
        display: inline;
        margin-right: 10px;
        font-size: 14px;
        line-height: 18px; }
        header .top-header .company-contact ul li:last-child {
          margin-right: 0px; }
      header .top-header .company-contact span {
        color: #c8933b;
        margin-right: 10px; }
  header .navbar ul.navbar-nav {
    margin-top: -18px; }
    header .navbar ul.navbar-nav li a {
      font-size: 20px;
      line-height: 26px;
      text-transform: capitalize; }
      header .navbar ul.navbar-nav li a:hover {
        color: #fff !important; }
  header .slider-text {
    padding-left: 48px;
    position: relative; }
    header .slider-text .carousel-indicators {
      left: -104px !important;
      bottom: 149px !important;
      display: unset; }
      header .slider-text .carousel-indicators li {
        height: 5px;
        width: 5px; }
    header .slider-text .carousel-item {
      margin-top: 50px; }
      header .slider-text .carousel-item h1 {
        color: #fff;
        font-family: 'PT Serif', serif;
        font-size: 48px;
        text-transform: capitalize;
        line-height: 62px;
        padding-bottom: 5px; }
      header .slider-text .carousel-item p {
        font-size: 24px;
        line: 29px;
        color: #fff;
        font-family: 'Lato', sans-serif; }
      header .slider-text .carousel-item a {
        background: #DC1515;
        color: #fff;
        display: inline-block;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        text-decoration: none;
        padding: 5px 15px;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size: 16px;
        -webkit-box-shadow: 0px 3px 6px #AAA9A92B;
        -moz-box-shadow: 0px 3px 6px #AAA9A92B;
        box-shadow: 0px 3px 6px #AAA9A92B; }
  header .social-media {
    position: absolute;
    right: 107px;
    top: 251px; }
    header .social-media ul li {
      list-style-type: none; }
    header .social-media a {
      color: #c8933b; }
  header .header-features {
    float: left;
    width: 100%;
    margin-top: 74px; }
    header .header-features ul li {
      list-style-type: none;
      display: inline;
      width: 25%;
      float: left;
      text-align: center; }
      header .header-features ul li a {
        color: #fff;
        text-decoration: none;
        padding: 50px;
        display: block; }
        header .header-features ul li a:hover {
          background: #DC1515BA;
          border: 1px solid #707070;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px; }

/*# sourceMappingURL=main.css.map */
