$header-color: #fff;
$icon-color: #c8933b;
$button-color: #DC1515;


*, *:before, *:after {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

header {
	background: url(images/bg_photo_1.jpg);
	float: left;
	width: 100%;
	background-size: cover;
	height: 712px;
	opacity: 1;
	position: relative;
	margin-bottom: 50px;

	.top-header {
		float: left;
		width: 100%;
		padding-top: 15px;
			.company-contact {
				text-align: right;
				padding-right: 41px;
				ul li {
				color:$header-color;
				list-style-type: none;
				display: inline;
				margin-right: 10px;
				font-size: 14px;
				line-height: 18px;
				&:last-child {
					margin-right: 0px;
				}
			}
			span{
				color: $icon-color;
				margin-right: 10px;
			}
		}
	}
	.navbar {
		ul.navbar-nav {
			margin-top: -18px;
				li a {
					font-size: 20px;
					line-height: 26px;
					text-transform: capitalize;
					&:hover {
						color: $header-color !important;
					}
				}
		}
	}
	.slider-text {
		padding-left: 48px;
		position: relative;
			.carousel-indicators {
				left: -104px !important;
				bottom: 149px !important;
				display: unset;
					li {
						height: 5px;
						width: 5px;
					}
			} 
			.carousel-item {
				margin-top: 50px;
				h1 {
					color: $header-color;
					font-family: 'PT Serif', serif;
					font-size: 48px;
					text-transform: capitalize;
					line-height: 62px;
					padding-bottom: 5px;
				}
				p {
					font-size: 24px;
					line: 29px;
					color: $header-color;
					font-family: 'Lato', sans-serif;
				}
				a {
					background: $button-color;
					color: $header-color;
					display: inline-block;
					-webkit-border-radius: 4px;
					-moz-border-radius: 4px;
					border-radius: 4px;
					text-decoration: none;
					padding: 5px 15px;
					text-transform: uppercase;
					font-family: 'Lato', sans-serif;
					font-weight: bold;
					font-size: 16px;
					-webkit-box-shadow: 0px 3px 6px #AAA9A92B;
					-moz-box-shadow: 0px 3px 6px #AAA9A92B;
					box-shadow: 0px 3px 6px #AAA9A92B;
				}
			}
	}
	.social-media {
		position: absolute;
		right: 107px;
		top: 251px;
		ul li {
			list-style-type: none;
		}
		a {
			color: $icon-color;
		}
	}
	.header-features {
		float: left;
		width: 100%;
		margin-top: 74px;
		ul li {
			list-style-type: none;
			display: inline;
			width: 25%;
			float: left;
			text-align: center;
			a {
				color: $header-color;
				text-decoration: none;
				padding: 50px;
				display: block;
				&:hover {
					background: #DC1515BA;
					border: 1px solid #707070;
					-webkit-border-radius: 4px;
					-moz-border-radius: 4px;
					border-radius: 4px;
				}
			}
		}
	}
}